@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-dark::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  .scrollbar-dark::-webkit-scrollbar-track {
    background: transparent;
  }
  .scrollbar-dark::-webkit-scrollbar-thumb {
    background: rgba(65, 65, 110, 0.5);
    border-radius: 10px;
  }
  .scrollbar-dark::-webkit-scrollbar-thumb:hover {
    background: rgba(99, 102, 241, 0.8);
  }
  .glass-panel {
    @apply bg-card backdrop-blur-md border border-border shadow-xl;
  }
}
